<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">    
<title><%= Title %></title>   

<link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="libs/bootstrap/css/bootstrap-theme.min.css">
<link href="libs/bootstrap/css/blog.css" rel="stylesheet">
<link href="css/alhch.css" rel="stylesheet">
<link href="css/bots_layout.css" rel="stylesheet">